- cache(Digest::SHA1.hexdigest("queue/#{@guild_hash}"), :raw => true, :expires_in => 5.minutes) do
	-@page_title = "Loading #{params["name"]}"
	:javascript
		var reload_url = "#{view_guild_filter_path(params["region"], params["realm"], params["name"], params["min"] || 0, params["max"] || 9)}"
		var api_path = "/queue/guild/#{@guild_hash}"
		var no_data = #{@new_user ? true : false}
	= javascript_include_tag("loading", :cache => "cache-loading", :lifetime => 1.month)

	#queue
		.spacer
		.w960.shadow
			.queue
				#message.lightbg.text-center Only scanning level 80s or higher, up to #{config_option("guildCap")} characters. This may take a few minutes
				#status.darkbg.text-center Calculating position in queue
		