.spacer
.w960.shadow
	.mirror
		%h1.header Help mirror for Elitist Armory
		.rowsep
			%p
				Thanks to everyone who helped out! Currently we're at capacity on mirrors and looking into some new methods to speed up requests.
		-#.rowsep
		-#	%p
		-#		In order to speed up pulling of new data from the armory, Elitist Armory will offload requests to 3rd party nodes. These nodes are throttled at a request every 10 seconds and can be increased if you want.<br />
		-#		Still interested? Here's what you need:
		-#.rowsep
		-#	%ul
		-#		%li PHP (Anything above 4.0.2 or 5)
		-#		%li Curl (Should be included)
		-#		%li Spare bandwidth (Roughly 2 MB/hour is used, worst case it will be 2 - 3 GB a month)
		-#.rowsep
		-#	%p
		-#		Have all of those? Download <a href="#{root_url}static/ea_mirror.zip">ea_mirror.zip (Version 2)</a><br />
		-#		Once you've done that, send me an email at <a href="mailto:contact@elitistarmory.com">contact@elitistarmory.com</a> with the server url and I'll add you as a mirror.
		%h1.lightheader Supporters
		%p
			The websites listed below are people who are helping support the site by providing mirrors!
			%ul
				%li= link_to "Pwnwear", "http://pwnwear.com"
				%li= link_to "Quick Armory", "http://quickarmory.com"
				%li= link_to "Balance Guild", "http://balanceguild.net"
				%li= link_to "Divide Guild", "http://divideguild.net"
				%li= link_to "Not Steam Boat", "http://notsteamboat.com"
				%li= link_to "Sanitarium Guild", "http://sanitariumguild.eu"
				%li= link_to "Murderous Intent", "http://murderousintent.com"
				%li= link_to "Infinite Guild", "http://www.infinite-guild.eu"
				%li= link_to "Twelve Moonz", "http://twelvemoonz.de"
				%li= link_to "Fryart", "http://www.fryart.de/"
				%li= link_to "Sigil Guild", "http://sigil-guild.org/"
				%li= link_to "Vicious Hordelicious", "http://www.vicioushordedelicious.org/"
				%li= link_to "WoW Reputation Calculator", "http://wowrepcalc.eu/"
				%li= link_to "Legio Augusta Guild", "http://www.legio-augusta.de/"
				%li= link_to "No Way Out Gilde", "http://no-way-out-gilde.de/"
				%li= link_to "Just Blood Lust", "http://justbloodlust.com/news.php"
				%li= link_to "Legends of Light", "http://legendsoflight.abich.com/"
				%li= link_to "Jomu of Friends Without Benefits", "http://wow.eiler.net"
				%li= link_to "Coppericious", "http://www.wowarmory.com/guild-info.xml?r=Jubei%27Thos&gn=Coppericious"