!!!
%html
	%head
		- if @page_title
			%title= "#{@page_title} - Elitist Armory"
		- else
			%title Elitist Armory
		= stylesheet_link_tag("global", :cache => "cache-all", :lifetime => 1.month)
		- if current_user_is_admin?
			= stylesheet_link_tag("admin", :cache => "cache-admin", :lifetime => 1.month)
		= stylesheet_link_tag("tooltip")
		<!--[if IE]>
		= stylesheet_link_tag("http://db.mmo-champion.com/static/css/tooltip-ie.css")
		<![endif]-->
		= javascript_include_tag("jquery.min14", "servers", "jquery.autocomplete", "tooltip", "global", :cache => "cache-all", :lifetime => 1.month)
	.w960.shadow
		.menu
			%ul
				%li.dropdown
					.text Rankings
					.arrow.down
					%ul.invisible
						%li.darkbg= link_to "Players", rank_players_path
						%li.lightbg= link_to "Realms", rank_realms_path
						%li.darkbg= link_to "Regions", rank_regions_path
				-#%li.dropdown
				-#	.text Stats
				-#	.arrow.down
				-#	%ul.invisible
				-#		%li.darkbg= link_to "Items", "/"
				-#%li.dropdown
				-#	.text Misc
				-#	.arrow.down
				-#	%ul.invisible
				-#		%li.darkbg= link_to "F.A.Q", faq_path
				-#		%li.lightbg= link_to "API", api_path
				-#		%li.darkbg= link_to "Powered by", powered_path
				-#		%li.lightbg= link_to "Help mirror", mirror_path
				-#		%li.darkbg= link_to "Donate", donate_path
			- if current_user.nil?
				%span.account= link_to "Log in", "#{new_login_path}"
				%span.account= "&bull;"
				%span.account= link_to "Sign up", "#{new_account_path}"
			- else
				%span.account= link_to current_user.login, account_path
				%span.account= "&bull;"
				%span.account= link_to "Admin", admin_path if current_user_is_admin?
				%span.account= "&bull;" if current_user_is_admin?
				%span.account= link_to "Log out", logout_path
	- if !is_mobile_ua?
		.smallspacer
		.w960.text-center
			:javascript
				google_ad_client = "pub-1840639511496480";
				google_ad_slot = "8917621399";
				google_ad_width = 468;
				google_ad_height = 60;
			= javascript_include_tag("http://pagead2.googlesyndication.com/pagead/show_ads.js")
		.smallspacer
		.clearb
	- else
		.spacer
	- if !flash[:error].blank?
		.w960.shadow.error
			%h1 Error
			%p= flash[:error]
	- if !flash[:message].blank?
		.w960.shadow.message
			%h1 Message
			%p= flash[:message]
	.w960.armory
		.tabs
			%span.tab#name{:class => is_active?("name") && "selected"}
				%span.text Player
			%span.tab#guild{:class => is_active?("guild") && "selected"}
				%span.text Guild
			%span.tab#items{:class => is_active?("upgrade") && "selected"}
				%span.text Items
		.shadow.search
			#f-name.container{:class => !is_active?("name") && "invisible"}
				- form_for :character, :url => load_char_path do |f|
					%span.region= f.select(:region, options_for_select([["US", "us"], ["EU", "eu"], ["CN", "cn"], ["TW", "tw"], ["KR", "kr"]], smart_region))
					%span.realm
						%label Realm
						= f.text_field(:realm, :size => 15, :value => smart_realm)
					%span.name
						%label Character
						= f.text_field(:name, :size => 15, :value => smart_character)
					%span.recache
						%label Refresh?
						= check_box_tag("character[recache]", "1", false)
					%span.submit= f.submit("View")
			#f-guild.container{:class => !is_active?("guild") && "invisible"}
				- form_for :guild, :url => load_guild_path do |f|
					%span.region= f.select(:region, options_for_select([["US", "us"], ["EU", "eu"], ["CN", "cn"], ["TW", "tw"], ["KR", "kr"]], smart_region))
					%span.realm
						%label Realm
						= f.text_field(:realm, :size => 15, :value => smart_realm)
					%span.name
						%label Guild
						= f.text_field(:name, :size => 15, :value => smart_guild)
					%span.from
						%label From
						= select_tag("min", options_for_select([["Guild Master", 0], ["Rank 1", 1], ["Rank 2", 2], ["Rank 3", 3], ["Rank 4", 4], ["Rank 5", 5], ["Rank 6", 6], ["Rank 7", 7], ["Rank 8", 8], ["Rank 9", 9]], [params["min"].to_i]))
					%span.to
						%label To
						= select_tag("max", options_for_select([["Guild Master", 0], ["Rank 1", 1], ["Rank 2", 2], ["Rank 3", 3], ["Rank 4", 4], ["Rank 5", 5], ["Rank 6", 6], ["Rank 7", 7], ["Rank 8", 8], ["Rank 9", 9]], [params["max"].blank? ? 9: params["max"].to_i]))
					%span.recache
						%label Refresh?
						= check_box_tag("guild[recache]", "1", false)
					%span.submit= f.submit("View")
			#f-items.container{:class => !is_active?("upgrade") && "invisible"}
				- form_for :item, :url => item_search_path do |f|
					%span.name
						%label.nomargin Item
						= f.text_field(:name, :size => 15, :value => params["item"] && params["item"]["name"])
					%span.arch
						%label Archetype
						= f.select(:spec_type, TALENTS[:archtypes_select], :selected => smart_archetype)
					%span.submit= f.submit("Search")
	=yield	
	%noscript
		.spacer
		.w960.shadow.simplemsg.darkbg
			%span{:class => "red"} Warning:
			NoScript is enabled. Elitist Armory will not function properly unless you turn it off.
	- if !is_mobile_ua?
		.smallspacer
		.w960.text-center
			:javascript
				google_ad_client = "pub-1840639511496480";
				google_ad_slot = "8300610112";
				google_ad_width = 728;
				google_ad_height = 90;
			= javascript_include_tag("http://pagead2.googlesyndication.com/pagead/show_ads.js")
		.smallspacer
		.clearb
	- else
		.spacer
	.w960.copyright
		&copy; 2010 NAMENOTFINAL / Brut des Verderbens
		&bull;
		= link_to "Brut des Verderbens", "http://bdv.db6.org"
		&bull;
		= link_to "Contact Us", "mailto:brutdesverderbens@googlemail.com"
		&bull;
		= link_to "WowQU", "http://www.wowqu.com"
		&bull; NAMENOTFINAL Armory has no affiliation and is in no way endorsed by Blizzard Entertainment.
	- if RAILS_ENV == "production" or RAILS_ENV == "development"
		- if !is_mobile_ua?
			-#= javascript_include_tag("http://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js")
			-#:javascript
			-#	var feedback_widget_options = {};

			-#	feedback_widget_options.display = "overlay";  
			-#	feedback_widget_options.company = "elitistarmory";
			-#	feedback_widget_options.placement = "left";
			-#	feedback_widget_options.color = "#262626";
			-#	feedback_widget_options.style = "idea";
			-#	var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-4091686-5']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
			})();
